/*-----------------------------------------------------------------------------------
	Eddie Ko
	About: Eddie Ko (1997 - ) To INFINITY and BEYOND
	Author: Eddie Ko
	Version: 2.0
	Built with Blocs
-----------------------------------------------------------------------------------*/
body{
	margin:0;
	padding:0;
    background:#FFFFFF;
    overflow-x:hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.page-container{overflow: hidden;} /* Prevents unwanted scroll space when scroll FX used. */
a,button{transition: background .3s ease-in-out;outline: none!important;} /* Prevent blue selection glow on Chrome and Safari */
a:hover{text-decoration: none; cursor:pointer;}
.scroll-fx-lock-init{position:fixed!important;top: 0;bottom: 0;left: :0;right: 0;z-index:99999;} /* ScrollFX Lock */
.blocs-grid-container{display: grid!important;grid-template-columns: 1fr 1fr;grid-template-rows: auto auto;column-gap: 1.5rem;row-gap: 1.5rem;} /* CSS Grid */

/* = Blocs
-------------------------------------------------------------- */

.bloc{
	width:100%;
	clear:both;
	background: 50% 50% no-repeat;
	padding:0 20px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position:relative;
	display:flex;
}
.bloc .container{
	padding-left:0;
	padding-right:0;
	position:relative;
}


/* Sizes */

.bloc-lg{
	padding:100px 20px;
}
.bloc-md{
	padding:50px 20px;
}

/* = Full Screen Blocs 
-------------------------------------------------------------- */

.bloc-fill-screen{
	min-height:100vh;
	display: flex;
	flex-direction: column;
	padding-top:20px;
	padding-bottom:20px;
}
.bloc-fill-screen > .container{
	align-self: flex-middle;
	flex-grow: 1;
	display: flex;
	flex-wrap: wrap;
}
.bloc-fill-screen > .container > .row{
	flex-grow: 1;
	align-self: center;
	width:100%;
}
.bloc-fill-screen .fill-bloc-top-edge, .bloc-fill-screen .fill-bloc-bottom-edge{
	flex-grow: 0;
}
.bloc-fill-screen .fill-bloc-top-edge{
	align-self: flex-start;
}
.bloc-fill-screen .fill-bloc-bottom-edge{
	align-self: flex-end;
}

/* = Full Width Blocs 
-------------------------------------------------------------- */

.full-width-bloc{
	padding-left:0;
	padding-right:0;
}
.full-width-bloc .row{
	margin-left:0;
	margin-right:0;
}
.full-width-bloc .container{
	width:100%;
	max-width:100%!important;
}
.full-width-bloc .carousel img{
	width:100%;
	height:auto;
}


/* Background Textures */

.bloc-bg-texture::before{
	content:"";
	background-size: 2px 2px;
	position: absolute;
	top: 0;
	bottom: 0;
	left:0;
	right:0;
}
.texture-paper::before{
	background: url("img/texture-paper.png");
	background-size: 280px 280px;
}
.texture-darken::before{
	background: rgba(0,0,0,0.5);
}
.texture-darken-strong::before{
	background: rgba(0,0,0,0.8);
}


/* Background Effects */

.parallax__container {
	clip: rect(0, auto, auto, 0);
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	z-index:-1;
}
.parallax {
	position: fixed;
	top: 0;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


/* Dark theme */

.d-bloc{
	color:rgba(255,255,255,.7);
}
.d-bloc button:hover{
	color:rgba(255,255,255,.9);
}
.d-bloc .icon-round,.d-bloc .icon-square,.d-bloc .icon-rounded,.d-bloc .icon-semi-rounded-a,.d-bloc .icon-semi-rounded-b{
	border-color:rgba(255,255,255,.9);
}
.d-bloc .divider-h span{
	border-color:rgba(255,255,255,.2);
}
.d-bloc .a-btn,.d-bloc .navbar a, .d-bloc a .icon-sm, .d-bloc a .icon-md, .d-bloc a .icon-lg, .d-bloc a .icon-xl, .d-bloc h1 a, .d-bloc h2 a, .d-bloc h3 a, .d-bloc h4 a, .d-bloc h5 a, .d-bloc h6 a, .d-bloc p a{
	color:rgba(255,255,255,.6);
}
.d-bloc .a-btn:hover,.d-bloc .navbar a:hover,.d-bloc a:hover .icon-sm, .d-bloc a:hover .icon-md, .d-bloc a:hover .icon-lg, .d-bloc a:hover .icon-xl, .d-bloc h1 a:hover, .d-bloc h2 a:hover, .d-bloc h3 a:hover, .d-bloc h4 a:hover, .d-bloc h5 a:hover, .d-bloc h6 a:hover, .d-bloc p a:hover{
	color:rgba(255,255,255,1);
}
.d-bloc .navbar-toggle .icon-bar{
	background:rgba(255,255,255,1);
}
.d-bloc .btn-wire,.d-bloc .btn-wire:hover{
	color:rgba(255,255,255,1);
	border-color:rgba(255,255,255,1);
}
.d-bloc .card{
	color:rgba(0,0,0,.5);
}
.d-bloc .card button:hover{
	color:rgba(0,0,0,.7);
}
.d-bloc .card icon{
	border-color:rgba(0,0,0,.7);
}
.d-bloc .card .divider-h span{
	border-color:rgba(0,0,0,.1);
}
.d-bloc .card .a-btn{
	color:rgba(0,0,0,.6);
}
.d-bloc .card .a-btn:hover{
	color:rgba(0,0,0,1);
}
.d-bloc .card .btn-wire, .d-bloc .card .btn-wire:hover{
	color:rgba(0,0,0,.7);
	border-color:rgba(0,0,0,.3);
}


/* Light theme */

.d-bloc .card,.l-bloc{
	color:rgba(0,0,0,.5);
}
.d-bloc .card button:hover,.l-bloc button:hover{
	color:rgba(0,0,0,.7);
}
.l-bloc .icon-round,.l-bloc .icon-square,.l-bloc .icon-rounded,.l-bloc .icon-semi-rounded-a,.l-bloc .icon-semi-rounded-b{
	border-color:rgba(0,0,0,.7);
}
.d-bloc .card .divider-h span,.l-bloc .divider-h span{
	border-color:rgba(0,0,0,.1);
}
.d-bloc .card .a-btn,.l-bloc .a-btn,.l-bloc .navbar a,.l-bloc a .icon-sm, .l-bloc a .icon-md, .l-bloc a .icon-lg, .l-bloc a .icon-xl, .l-bloc h1 a, .l-bloc h2 a, .l-bloc h3 a, .l-bloc h4 a, .l-bloc h5 a, .l-bloc h6 a, .l-bloc p a{
	color:rgba(0,0,0,.6);
}
.d-bloc .card .a-btn:hover,.l-bloc .a-btn:hover,.l-bloc .navbar a:hover, .l-bloc a:hover .icon-sm, .l-bloc a:hover .icon-md, .l-bloc a:hover .icon-lg, .l-bloc a:hover .icon-xl, .l-bloc h1 a:hover, .l-bloc h2 a:hover, .l-bloc h3 a:hover, .l-bloc h4 a:hover, .l-bloc h5 a:hover, .l-bloc h6 a:hover, .l-bloc p a:hover{
	color:rgba(0,0,0,1);
}
.l-bloc .navbar-toggle .icon-bar{
	color:rgba(0,0,0,.6);
}
.d-bloc .card .btn-wire,.d-bloc .card .btn-wire:hover,.l-bloc .btn-wire,.l-bloc .btn-wire:hover{
	color:rgba(0,0,0,.7);
	border-color:rgba(0,0,0,.3);
}


/* = NavBar
-------------------------------------------------------------- */

/* Navbar Icon */
.svg-menu-icon{
	fill: none;
	stroke: rgba(0,0,0,0.5);
	stroke-width: 2px;
	fill-rule: evenodd;
}
.navbar-dark .svg-menu-icon{
	stroke: rgba(255,255,255,0.5);
}
.menu-icon-thin-bars{
	stroke-width: 1px;
}
.menu-icon-thick-bars{
	stroke-width: 5px;
}
.menu-icon-rounded-bars{
	stroke-width: 3px;
	stroke-linecap: round;
}
.menu-icon-filled{
	fill: rgba(0,0,0,0.5);
	stroke-width: 0px;
}
.navbar-dark .menu-icon-filled{
	fill: rgba(255,255,255,0.5);
}
.navbar-toggler-icon{
	background: none!important;
	pointer-events: none;
	width: 33px;
	height: 33px;
}
/* Handle Multi Level Navigation */
.dropdown-menu .dropdown-menu{
	border:none}
@media (min-width:576px){
	
.navbar-expand-sm .dropdown-menu .dropdown-menu{
	border:1px solid rgba(0,0,0,.15);
	position:absolute;
	left:100%;
	top:-7px}.navbar-expand-sm .dropdown-menu .submenu-left{
	right:100%;
	left:auto}}@media (min-width:768px){
	.navbar-expand-md .dropdown-menu .dropdown-menu{
	border:1px solid rgba(0,0,0,.15);
	border:1px solid rgba(0,0,0,.15);
	position:absolute;
	left:100%;
	top:-7px}.navbar-expand-md .dropdown-menu .submenu-left{
	right:100%;
	left:auto}}@media (min-width:992px){
	.navbar-expand-lg .dropdown-menu .dropdown-menu{
	border:1px solid rgba(0,0,0,.15);
	position:absolute;
	left:100%;
	top:-7px}.navbar-expand-lg .dropdown-menu .submenu-left{
	right:100%;
	left:auto}
}

/* = Buttons
-------------------------------------------------------------- */

.btn-d,.btn-d:hover,.btn-d:focus{
	color:#FFF;
	background:rgba(0,0,0,.3);
}

/* Prevent ugly blue glow on chrome and safari */
button{
	outline: none!important;
}

.btn-sq{
	border-radius: 0px;
}
.btn-style-none,.btn-style-none:hover,.btn-style-none:active,.btn-style-none:focus{
	background:none;
	box-shadow: none;
	padding:0;
}
.btn-wire{
	background:transparent!important;
	border:2px solid transparent;
}
.btn-wire:hover{
	background:transparent!important;
	border:2px solid transparent;
}
.a-block{
	width:100%;
	text-align:left;
	display: inline-block;
}
.text-center .a-block{
	text-align:center;
}

/* = Icons
-------------------------------------------------------------- */
.icon-sm{
	font-size:18px!important;
}
.icon-md{
	font-size:30px!important;
}




/* = Cards
-------------------------------------------------------------- */
.card-sq, .card-sq .card-header, .card-sq .card-footer{
	border-radius:0;
}
.card-rd{
	border-radius:30px;
}
.card-rd .card-header{
	border-radius:29px 29px 0 0;
}
.card-rd .card-footer{
	border-radius:0 0 29px 29px;
}
/* = Masonary
-------------------------------------------------------------- */
.card-columns .card {
	margin-bottom: 0.75rem;
}
@media (min-width: 576px) {
	.card-columns {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
	-webkit-column-gap: 1.25rem;
	-moz-column-gap: 1.25rem;
	column-gap: 1.25rem;
	orphans: 1;
	widows: 1;
}
.card-columns .card {
	display: inline-block;
	width: 100%;
}
}


/* Additional Aspect Ratios */

.ratio-4x4::before{
	padding-top:100%}.ratio-9x16::before{
	padding-top:106.25%}
.carousel-nav-icon{
	fill: none;
	stroke: #fff;
	stroke-width: 2px;
	fill-rule: evenodd;
	stroke-linecap:round;
}

.hide-indicators{
	display:none;
}
/* Scroll FX */
.scroll-fx-in-range{
	will-change: opacity;
}


/* ScrollToTop button */

.scrollToTop{
	width:36px;
	height:36px;
	padding:5px;
	position:fixed;
	bottom:20px;
	right:20px;
	opacity:0;
	z-index:999;
	transition: all .3s ease-in-out;
	pointer-events:none;
}
.showScrollTop{
	opacity: 1;
	pointer-events:all;
}
.scroll-to-top-btn-icon{
	fill: none;
	stroke: #fff;
	stroke-width: 2px;
	fill-rule: evenodd;
	stroke-linecap:round;
}
/* = MacBook Devices
-------------------------------------------------------------- */

.blocsapp-device-mb{
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center;
	display: block;
	width:100%;
	height:auto;
	padding: 3.6% 15% 7.5%;
}
.blocsapp-device-mb img{
	width:100%;
	height:auto;
	margin: 0 auto;
}
.blocsapp-device-mb .ratio::before{
	padding-top: 56.25%;
}
.blocsapp-device-mb .ratio{
	padding-bottom: 8%;
}
/* = MacBook Space Grey
-------------------------------------------------------------- */

.mb-space-grey{
	background-image:url("img/Apple-Macbook-Space-Grey.png");
	background-image: -webkit-image-set(url("img/Apple-Macbook-Space-Grey.webp") 1x,
url("img/Apple-Macbook-Space-Grey.webp") 2x);background-image: image-set(url("img/Apple-Macbook-Space-Grey.png") 1x,
url("img/Apple-Macbook-Space-Grey.png") 2x,url("img/Apple-Macbook-Space-Grey.webp") 1x,
url("img/Apple-Macbook-Space-Grey.webp") 2x);
}
/* = Lightbox
-------------------------------------------------------------- */

a[data-lightbox]{
	position: relative;
	display: block;
	text-align: center;
}
a[data-lightbox]:hover::before{
	content:"+";
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
	font-size:32px;
	line-height: 42px;
	width:50px;
	height:50px;
	margin-left:-25px;
	border-radius: 50%;
	background:rgba(0,0,0,.5);
	color:#FFF;
	font-weight:100;
	z-index: 1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
a[data-lightbox]:hover img{
	opacity: 0.6;
	-webkit-animation-fill-mode: none;
	animation-fill-mode:none;
}
.lightbox-caption{
	padding: 20px;
	color: #FFF;
	background: rgba(0,0,0,.5);
	position: absolute;
	left: 15px;
	right: 15px;
	bottom: 5px;
}
.close-lightbox:hover,.next-lightbox:hover, .prev-lightbox:hover{
	background:rgba(0,0,0,.5);
}
.next-lightbox, .prev-lightbox,.close-lightbox{
	position: absolute;
	padding:6px;
	background:rgba(0,0,0,.3);
	line-height:0;
	transition: background .2s ease-in-out;
	border-radius:.25rem;
	border:none;
	z-index:20;
}
.next-lightbox, .prev-lightbox{
	top:45%;
}
.close-lightbox{
	top:20px;
	right:20px;
}
.next-lightbox{
	right:25px;
}
.prev-lightbox{
	left:25px;
}
.lightbox-prev-icon,.lightbox-next-icon,.lightbox-close-icon{
	fill:none;
	stroke: #fff;
	stroke-width: 3px;
	fill-rule: evenodd;
	stroke-linecap:round;
}
.lightbox-close-svg{
	pointer-events:none;
}

/* Framless */
.frameless-lb{
	border-radius: 0;
	border:none;
}
.frameless-lb .modal-body{
	padding:0;
}
.frameless-lb .lightbox-caption{
	left:0;
	right:0;
	bottom:-16px;
}

/* = Custom Styling
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6,p,label,.btn,a{
	font-family:"Poppins";
	color:#414446!important;
}
.container{
	max-width:1140px;
}
.img-style{
	height:12px;
	width:32px;
}
.label-style{
	font-size:12px;
}
.homepage-bigheader{
	font-size:6rem;
	font-weight:100;
}
.h3-style{
	font-family:"Poppins";
	font-weight:200;
	font-size:2rem;
	line-height:2rem;
}
p{
	font-weight:300;
}
.work-categories{
	background-color:rgba(255,255,255,0.82);
	margin:1% 1% 1% 1%;
	display:flex;
	flex-wrap:wrap;
	padding:1% 1% 1% 1%;
}
.card-content{
	background-color:rgba(255,255,255,0.82);
	backdrop-filter:blur(10px);
	-webkit-backdrop-filter:blur(10px);
	padding:8% 8% 8% 20%;
	display:flex;
	flex-direction:column;
	justify-content:center;
}
.project-card{
	max-height:368px;
}
.div-works{
	min-height:12vh;
	width:60%;
}
.header-categorytitle{
	font-size:4rem;
	font-weight:500;
	text-shadow:3.86px 4.60px 8px rgba(0,0,0,0.16),7.71px 9.19px 20px rgba(0,0,0,0.16),25.71px 30.64px 40px rgba(0,0,0,0.16);
	margin:8% 8% 8% 8%;
}
.works-row{
	height:50%;
	padding:4px 4px 4px 4px;
	column-gap:8px;
	justify-items:center;
	align-items:center;
	justify-self:center;
	align-self:center;
}
.background-launched{
	background-image:url("img/Background-launched.png");
	background-image: -webkit-image-set(url("img/Background-launched.webp") 1x,
url("img/Background-launched.webp") 2x);background-image: image-set(url("img/Background-launched.png") 1x,
url("img/Background-launched.png") 2x,url("img/Background-launched.webp") 1x,
url("img/Background-launched.webp") 2x);
}
.background-personal{
	background-image:url("img/Background-personal.png");
	background-image: -webkit-image-set(url("img/Background-personal.webp") 1x,
url("img/Background-personal.webp") 2x);background-image: image-set(url("img/Background-personal.png") 1x,
url("img/Background-personal.png") 2x,url("img/Background-personal.webp") 1x,
url("img/Background-personal.webp") 2x);
}
.background-misc{
	background-image:url("img/Background-misc.png");
	background-image: -webkit-image-set(url("img/Background-misc.webp") 1x,
url("img/Background-misc.webp") 2x);background-image: image-set(url("img/Background-misc.png") 1x,
url("img/Background-misc.png") 2x,url("img/Background-misc.webp") 1x,
url("img/Background-misc.webp") 2x);
}
.profile-card{
	background-color:rgba(255,255,255,0.40);
	background-clip:content-box!important;
	-webkit-background-clip:content-box!important;
	padding:1% 1% 1% 1%;
}
.about-first-column{
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
	height:90vh;
	width:90vw;
	min-width:440px;
	min-height:550px;
}
.profile-photo{
	width:40%;
	height:66.7%;
	position:relative;
	background-image:url("img/About-portrait.png");
	background-image: -webkit-image-set(url("img/About-portrait.webp") 1x,
url("img/About-portrait.webp") 2x);background-image: image-set(url("img/About-portrait.png") 1x,
url("img/About-portrait.png") 2x,url("img/About-portrait.webp") 1x,
url("img/About-portrait.webp") 2x);
	background-size:cover;
	background-position:center top;
}
.profile-cv{
	width:40%;
	height:33.3%;
}
.profile-name{
	width:60%;
	height:33.3%;
	justify-content:center;
	display:flex;
	flex-direction:column;
	align-items:center;
}
.profile-intro{
	width:60%;
	height:66.7%;
}
.profile-skill{
	width:60%;
	height:33.3%;
}
.profile-alumni{
	width:60%;
	height:33.3%;
	background-image:url("img/About-Alumni.png");
	background-image: -webkit-image-set(url("img/About-Alumni.webp") 1x,
url("img/About-Alumni.webp") 2x);background-image: image-set(url("img/About-Alumni.png") 1x,
url("img/About-Alumni.png") 2x,url("img/About-Alumni.webp") 1x,
url("img/About-Alumni.webp") 2x);
	background-size:80% auto;
	background-repeat:no-repeat;
	background-position:center center;
}
.profile-contact{
	width:100%;
	height:33.4%;
	display:flex;
	flex-direction:column;
	justify-content:flex-end;
	background-image:url("img/About-location.png");
	background-image: -webkit-image-set(url("img/About-location.webp") 1x,
url("img/About-location.webp") 2x);background-image: image-set(url("img/About-location.png") 1x,
url("img/About-location.png") 2x,url("img/About-location.webp") 1x,
url("img/About-location.webp") 2x);
}
.profile-language{
	width:40%;
	height:33.3%;
	display:flex;
	flex-direction:column;
	justify-content:center;
}
.profile-cat{
	height:33.3%;
	width:40%;
}
.about-second-column{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	height:90vh;
	width:90vw;
	min-width:440px;
	min-height:550px;
}
.collage{
	display:flex;
	justify-content:center;
	padding:0% 8% 0% 8%;
}
.about-widget-header{
	font-family:"Poppins";
	font-weight:300;
	font-size:150%;
	text-transform:none;
}
.about-name{
	font-size:400%;
	font-family:"Poppins";
	font-weight:200;
}
.p-style{
	line-height:28px;
	font-size:100%;
}
.View-CV:hover{
	position:relative;
	bottom:-10%;
}
.cat{
	position:relative;
	bottom:-4%;
	width:94%;
	height:60%;
}
.cv-thumbnail{
	position:relative;
	bottom:-16%;
}
.collage-inner-container{
	overflow:hidden;
	display:flex;
	flex-direction:column;
	width:100%;
	height:100%;
}
.cv-thumbnail:hover{
	box-shadow:0.00px -2.00px 40px rgba(0,0,0,0.20);
}
.identity-tag{
	padding:4px 12px 4px 12px;
	background-color:rgba(237,240,242,0.40);
	font-weight:300;
	border-radius:8px 8px 8px 8px;
	border-color:#9FC3DE!important;
}
.navbar{
	background-color:rgba(255,255,255,0.82);
	display:flex;
	backdrop-filter:blur(10px);
	-webkit-backdrop-filter:blur(10px);
	justify-content:center;
	width:100%;
	top:0px;
	left:0px;
	right:0px;
	position:fixed;
	z-index:999;
}
.header-project{
	font-size:4rem;
	color:#FFFFFF!important;
	font-weight:500;
}
.intro-project{
	color:#FFFFFF!important;
	font-size:18px;
}
.caltech-link{
	font-size:16px;
	text-decoration:none;
	color:#F3A5A0!important;
}
.soundhub-background-1{
	background:radial-gradient(#FFFFFF 0%, #E8F9FE 100%);
}
.gap-150px{
	min-height:150px;
}
.title-big{
	font-size:72px;
	font-family:"Poppins";
	font-weight:500;
}
.soundhub-features-iconstyle{
	height:40px;
}
.soundhub-header-colorful{
	background:linear-gradient(65deg, #3ABCFF 46%, #CC54FF 54%);
	background-clip:text!important;
	-webkit-background-clip:text!important;
	color:transparent!important;
	background-attachment:fixed;
	text-align:center;
}
.background-grey{
	background-color:#F5F5F7;
}
.soundhub-logo-design-img{
	width:200px;
}
.soundhub-color-design-img{
	height:128px;
}
.soundhub-flow-img{
	height:32vw;
}
.hkgo-background-1{
	background-color:#BE1E2C;
}
.hkgo-font-yellow{
	color:#C2B59B!important;
}
.background-black{
	background-color:#000000;
}
.hkgo-font-red{
	color:#BE1F2C!important;
}
.hkgo-imagery{
	padding-left:15%;
	padding-right:15%;
	column-gap:5%;
}
.mideon-reaction-style{
	width:40%;
}
.gap-400px{
	min-height:400px;
}
.pill{
	border-width:2px 2px 2px 2px;
	border-color:rgba(255,255,255,0.80)!important;
	border-style:solid;
	border-radius:100px 100px 100px 100px;
	padding:4px 12px 4px 12px;
}
.mideon-title-gradient{
	color:transparent!important;
	background:linear-gradient(45deg, #EB7153 42%, #FFC8B2 44%, #EB7153   49%, #FFC8B2 54%, #EF5315 59%);
	background-clip:text!important;
	-webkit-background-clip:text!important;
	background-attachment:fixed;
}
.classroom-header-gradient{
	color:transparent!important;
	background:linear-gradient(145deg, #4570B6  0%, rgba(178,223,255,0.85) 100%);
	background-clip:text!important;
	-webkit-background-clip:text!important;
	background-attachment:fixed;
}
.nfclabel-scenario{
	border-radius:16px 16px 16px 16px;
}
.nfclabel-card{
	background-color:#F5F5F5;
}
.text-gradient-green{
	background:linear-gradient(144deg, #70F9CA 30%, #2AA87D 100%);
	background-clip:text!important;
	-webkit-background-clip:text!important;
	color:transparent!important;
	font-weight:bold;
	font-size:72px;
}
.devportal-header{
	color:#2EC9BA!important;
}
.nfclabel-problem{
	border-width:2px 2px 2px 2px;
	border-style:solid;
	border-color:#D9DFF1!important;
	border-radius:16px 16px 16px 16px;
}
.devportal-background-1{
	background:repeating-linear-gradient(17deg, #0A0C16 0%, #090B16 100%);
}
.devportal-highlight:hover{
	box-shadow:0.00px -0.00px 64px rgba(95,162,255,0.64);
}
.devportal-card{
	background-color:#181B20;
}
.text-gradient-purple{
	background:linear-gradient(56deg, #AD70E5 0%, #6033F1 100%);
	background-clip:text!important;
	-webkit-background-clip:text!important;
	color:transparent!important;
	font-weight:bold;
	font-size:72px;
}
.text-grey{
	color:#A1A1A6!important;
}
.devportal-dark{
	background-image:url("img/devportal-light.png");
	background-image: -webkit-image-set(url("img/devportal-light.webp") 1x,
url("img/devportal-light.webp") 2x);background-image: image-set(url("img/devportal-light.png") 1x,
url("img/devportal-light.png") 2x,url("img/devportal-light.webp") 1x,
url("img/devportal-light.webp") 2x);
	background-image: -webkit-image-set(url("img/devportal-light.webp") 1x,
url("img/devportal-light.webp") 2x);background-image: image-set(url("img/devportal-light.png") 1x,
url("img/devportal-light.png") 2x,url("img/devportal-light.webp") 1x,
url("img/devportal-light.webp") 2x);
	background-size:cover;
	border-radius:16px 16px 16px 16px;
}
.devportal-light{
	border-radius:16px 16px 16px 16px;
}
.text-in-card-short{
	width:50%;
}
.misc-color-1{
	color:#3D44C3!important;
}
.misc-card{
	border-radius:16px 16px 16px 16px;
}
.misc-color-2{
	color:#23466C!important;
}
.background-white{
	background-color:#FFFFFF;
}
.background-emptystate{
	background-color:#171717;
}
.misc-color-3{
	color:#FF3E17!important;
}
.misc-color-4{
	color:#2A6BAC!important;
}
.background-ford{
	background-image:url("img/misc-background-ford.png");
	background-image: -webkit-image-set(url("img/misc-background-ford.webp") 1x,
url("img/misc-background-ford.webp") 2x);background-image: image-set(url("img/misc-background-ford.png") 1x,
url("img/misc-background-ford.png") 2x,url("img/misc-background-ford.webp") 1x,
url("img/misc-background-ford.webp") 2x);
	background-size:cover;
}
.misc-image-shadow{
	box-shadow:0.00px 24.00px 40px rgba(13,14,15,0.14);
	border-radius:9px 9px 9px 9px;
}
.misc-color-5{
	color:#2B9CA1!important;
}
.img-smaller{
	width:70%;
}
.misc-sound-videobackground{
	background-image:url("img/sound-prototype.mp4");
	background-size:cover;
	min-height:960px;
	background-position:center center;
	width:100%;
}
.misc-short-text{
	width:70%;
}
.misc-img-radius{
	border-radius:16px 16px 0px 0px;
}
.lbx-card{
	background-color:#101010;
	border-style:solid;
	border-color:#2997FF!important;
	border-width:4px 0px 0px 0px;
}
.text-light-grey{
	color:#C4C4C4!important;
}
.text-gradient-blue{
	font-weight:bold;
	font-size:72px;
	color:transparent!important;
	background:linear-gradient(197deg, #3D71FF 0%, #60CAFC  100%);
	background-clip:text!important;
	-webkit-background-clip:text!important;
}
.edr-link{
	color:#2997FF!important;
}
.edr-card{
	background-color:#101010;
	border-width:4px 0px 0px 0px;
	border-style:solid;
	border-color:#A56CFF!important;
}
.text-gradient-orange{
	font-weight:bold;
	font-size:72px;
	color:transparent!important;
	background-clip:text!important;
	-webkit-background-clip:text!important;
	background:linear-gradient(224deg, #F29B37 0%, #EF5B85 100%);
}
.classroom-card{
	border-style:solid;
	border-color:#5792C4!important;
	border-width:4px 0px 0px 0px;
}
.classroom-quote{
	border-radius:16px 16px 16px 16px;
	background:linear-gradient(144deg, #2A303C 30%, #84A3D2 70%);
	box-shadow:0.00px 24.00px 48px rgba(64,64,69,0.40);
	background-attachment:fixed;
}
.classroom-grid{
	grid-template-columns:1fr 1fr 1fr 1fr 1fr;
}
.misc-grid-emptystates{
	grid-template-columns:1fr 1fr 1fr;
	column-gap:0px;
	row-gap:0px;
}
.misc-grid-illos{
	grid-template-columns:1fr 1fr 1fr 1fr 1fr;
	grid-template-rows:auto auto auto;
	column-gap:0px;
	row-gap:0px;
}
.misc-grid-realos{
	column-gap:0px;
	row-gap:0px;
}
.misc-grid-ford{
	grid-template-columns:1fr 1fr 1fr;
}
.works-card-title{
	font-size:24px;
}
.works-card-text{
	font-size:16px;
}
.div-title{
	width:40%;
	min-height:12vh;
}

/* = Colour
-------------------------------------------------------------- */

/* Swatch Variables */
:root{
	
	--swatch-var-4742:rgba(255,255,255,1.0);
	
}



/* Text colour styles */

.tc-4742{
	color:var(--swatch-var-4742)!important;
}

/* Button colour styles */

.wire-btn-c-4742{
	color:var(--swatch-var-4742)!important;
	border-color:var(--swatch-var-4742)!important;
}

/* Bloc image backgrounds */

.bg-Machinarium-intro{
	background-image:url("img/machinarium-intro.png");
	background-image: -webkit-image-set(url("img/machinarium-intro.webp") 1x,
url("img/machinarium-intro.webp") 2x);background-image: image-set(url("img/machinarium-intro.png") 1x,
url("img/machinarium-intro.png") 2x,url("img/machinarium-intro.webp") 1x,
url("img/machinarium-intro.webp") 2x);
}
.bg-soundhub-cover{
	background-image:url("img/soundhub-cover.png");
	background-image: -webkit-image-set(url("img/soundhub-cover.webp") 1x,
url("img/soundhub-cover.webp") 2x);background-image: image-set(url("img/soundhub-cover.png") 1x,
url("img/soundhub-cover.png") 2x,url("img/soundhub-cover.webp") 1x,
url("img/soundhub-cover.webp") 2x);
}
.bg-soundhub-designprocess-cover{
	background-image:url("img/soundhub-designprocess-cover.png");
	background-image: -webkit-image-set(url("img/soundhub-designprocess-cover.webp") 1x,
url("img/soundhub-designprocess-cover.webp") 2x);background-image: image-set(url("img/soundhub-designprocess-cover.png") 1x,
url("img/soundhub-designprocess-cover.png") 2x,url("img/soundhub-designprocess-cover.webp") 1x,
url("img/soundhub-designprocess-cover.webp") 2x);
}
.bg-HKGO-cover{
	background-image:url("img/HKGO-cover.jpg");
	background-image: -webkit-image-set(url("img/HKGO-cover.webp") 1x,
url("img/HKGO-cover.webp") 2x);background-image: image-set(url("img/HKGO-cover.jpg") 1x,
url("img/HKGO-cover.jpg") 2x,url("img/HKGO-cover.webp") 1x,
url("img/HKGO-cover.webp") 2x);
}
.bg-HKGO-background-3{
	background-image:url("img/HKGO-background-3.jpg");
	background-image: -webkit-image-set(url("img/HKGO-background-3.webp") 1x,
url("img/HKGO-background-3.webp") 2x);background-image: image-set(url("img/HKGO-background-3.jpg") 1x,
url("img/HKGO-background-3.jpg") 2x,url("img/HKGO-background-3.webp") 1x,
url("img/HKGO-background-3.webp") 2x);
}
.bg-mideon-cover{
	background-image:url("img/mideon-cover.png");
	background-image: -webkit-image-set(url("img/mideon-cover.webp") 1x,
url("img/mideon-cover.webp") 2x);background-image: image-set(url("img/mideon-cover.png") 1x,
url("img/mideon-cover.png") 2x,url("img/mideon-cover.webp") 1x,
url("img/mideon-cover.webp") 2x);
}
.bg-mideon-rendering2{
	background-image:url("img/mideon-rendering2.png");
	background-image: -webkit-image-set(url("img/mideon-rendering2.webp") 1x,
url("img/mideon-rendering2.webp") 2x);background-image: image-set(url("img/mideon-rendering2.png") 1x,
url("img/mideon-rendering2.png") 2x,url("img/mideon-rendering2.webp") 1x,
url("img/mideon-rendering2.webp") 2x);
}
.bg-mideon-backgorund-genz{
	background-image:url("img/mideon-backgorund-genz.jpg");
	background-image: -webkit-image-set(url("img/mideon-backgorund-genz.webp") 1x,
url("img/mideon-backgorund-genz.webp") 2x);background-image: image-set(url("img/mideon-backgorund-genz.jpg") 1x,
url("img/mideon-backgorund-genz.jpg") 2x,url("img/mideon-backgorund-genz.webp") 1x,
url("img/mideon-backgorund-genz.webp") 2x);
}
.bg-classroom-cover{
	background-image:url("img/classroom-cover.jpg");
	background-image: -webkit-image-set(url("img/classroom-cover.webp") 1x,
url("img/classroom-cover.webp") 2x);background-image: image-set(url("img/classroom-cover.jpg") 1x,
url("img/classroom-cover.jpg") 2x,url("img/classroom-cover.webp") 1x,
url("img/classroom-cover.webp") 2x);
}
.bg-classroom-background{
	background-image:url("img/classroom-background.png");
	background-image: -webkit-image-set(url("img/classroom-background.webp") 1x,
url("img/classroom-background.webp") 2x);background-image: image-set(url("img/classroom-background.png") 1x,
url("img/classroom-background.png") 2x,url("img/classroom-background.webp") 1x,
url("img/classroom-background.webp") 2x);
}
.bg-class-design-process{
	background-image:url("img/class-design-process.png");
	background-image: -webkit-image-set(url("img/class-design-process.webp") 1x,
url("img/class-design-process.webp") 2x);background-image: image-set(url("img/class-design-process.png") 1x,
url("img/class-design-process.png") 2x,url("img/class-design-process.webp") 1x,
url("img/class-design-process.webp") 2x);
}
.bg-classroom-management{
	background-image:url("img/classroom-management.png");
	background-image: -webkit-image-set(url("img/classroom-management.webp") 1x,
url("img/classroom-management.webp") 2x);background-image: image-set(url("img/classroom-management.png") 1x,
url("img/classroom-management.png") 2x,url("img/classroom-management.webp") 1x,
url("img/classroom-management.webp") 2x);
}
.bg-illos{
	background-image:url("img/Misc-cover.jpg");
	background-image: -webkit-image-set(url("img/Misc-cover.webp") 1x,
url("img/Misc-cover.webp") 2x);background-image: image-set(url("img/Misc-cover.jpg") 1x,
url("img/Misc-cover.jpg") 2x,url("img/Misc-cover.webp") 1x,
url("img/Misc-cover.webp") 2x);
}
.bg-NFClabel-cover{
	background-image:url("img/NFClabel-cover.png");
	background-image: -webkit-image-set(url("img/NFClabel-cover.webp") 1x,
url("img/NFClabel-cover.webp") 2x);background-image: image-set(url("img/NFClabel-cover.png") 1x,
url("img/NFClabel-cover.png") 2x,url("img/NFClabel-cover.webp") 1x,
url("img/NFClabel-cover.webp") 2x);
}
.bg-NFClabel-label-design{
	background-image:url("img/NFClabel-label-design.png");
	background-image: -webkit-image-set(url("img/NFClabel-label-design.webp") 1x,
url("img/NFClabel-label-design.webp") 2x);background-image: image-set(url("img/NFClabel-label-design.png") 1x,
url("img/NFClabel-label-design.png") 2x,url("img/NFClabel-label-design.webp") 1x,
url("img/NFClabel-label-design.webp") 2x);
}
.bg-devportal-cover{
	background-image:url("img/devportal-cover.png");
	background-image: -webkit-image-set(url("img/devportal-cover.webp") 1x,
url("img/devportal-cover.webp") 2x);background-image: image-set(url("img/devportal-cover.png") 1x,
url("img/devportal-cover.png") 2x,url("img/devportal-cover.webp") 1x,
url("img/devportal-cover.webp") 2x);
}
.bg-devportal-background-digital{
	background-image:url("img/devportal-background-digital.png");
	background-image: -webkit-image-set(url("img/devportal-background-digital.webp") 1x,
url("img/devportal-background-digital.webp") 2x);background-image: image-set(url("img/devportal-background-digital.png") 1x,
url("img/devportal-background-digital.png") 2x,url("img/devportal-background-digital.webp") 1x,
url("img/devportal-background-digital.webp") 2x);
}
.bg-Devportal-background-footer{
	background-image:url("img/Devportal-background-footer.png");
	background-image: -webkit-image-set(url("img/Devportal-background-footer.webp") 1x,
url("img/Devportal-background-footer.webp") 2x);background-image: image-set(url("img/Devportal-background-footer.png") 1x,
url("img/Devportal-background-footer.png") 2x,url("img/Devportal-background-footer.webp") 1x,
url("img/Devportal-background-footer.webp") 2x);
}
.bg-LBX-cover{
	background-image:url("img/LBX-cover.png");
	background-image: -webkit-image-set(url("img/LBX-cover.webp") 1x,
url("img/LBX-cover.webp") 2x);background-image: image-set(url("img/LBX-cover.png") 1x,
url("img/LBX-cover.png") 2x,url("img/LBX-cover.webp") 1x,
url("img/LBX-cover.webp") 2x);
}
.bg-EDR-scenario{
	background-image:url("img/EDR-scenario.png");
	background-image: -webkit-image-set(url("img/EDR-scenario.webp") 1x,
url("img/EDR-scenario.webp") 2x);background-image: image-set(url("img/EDR-scenario.png") 1x,
url("img/EDR-scenario.png") 2x,url("img/EDR-scenario.webp") 1x,
url("img/EDR-scenario.webp") 2x);
}
.bg-EDR-Cover{
	background-image:url("img/EDR-Cover.png");
	background-image: -webkit-image-set(url("img/EDR-Cover.webp") 1x,
url("img/EDR-Cover.webp") 2x);background-image: image-set(url("img/EDR-Cover.png") 1x,
url("img/EDR-Cover.png") 2x,url("img/EDR-Cover.webp") 1x,
url("img/EDR-Cover.webp") 2x);
}
.bg-LBX-Locked{
	background-image:url("img/LBX-Locked.png");
	background-image: -webkit-image-set(url("img/LBX-Locked.webp") 1x,
url("img/LBX-Locked.webp") 2x);background-image: image-set(url("img/LBX-Locked.png") 1x,
url("img/LBX-Locked.png") 2x,url("img/LBX-Locked.webp") 1x,
url("img/LBX-Locked.webp") 2x);
}
.bg-edr-lock{
	background-image:url("img/edr-lock.png");
	background-image: -webkit-image-set(url("img/edr-lock.webp") 1x,
url("img/edr-lock.webp") 2x);background-image: image-set(url("img/edr-lock.png") 1x,
url("img/edr-lock.png") 2x,url("img/edr-lock.webp") 1x,
url("img/edr-lock.webp") 2x);
}
.bg-soundhub{
	background-image:url("img/soundhub.png");
	background-image: -webkit-image-set(url("img/soundhub.webp") 1x,
url("img/soundhub.webp") 2x);background-image: image-set(url("img/soundhub.png") 1x,
url("img/soundhub.png") 2x,url("img/soundhub.webp") 1x,
url("img/soundhub.webp") 2x);
}
.bg-HKGO-neon{
	background-image:url("img/HKGO-neon.jpg");
	background-image: -webkit-image-set(url("img/HKGO-neon.webp") 1x,
url("img/HKGO-neon.webp") 2x);background-image: image-set(url("img/HKGO-neon.jpg") 1x,
url("img/HKGO-neon.jpg") 2x,url("img/HKGO-neon.webp") 1x,
url("img/HKGO-neon.webp") 2x);
}
.bg-NFClabel-drop{
	background-image:url("img/NFClabel-drop.png");
	background-image: -webkit-image-set(url("img/NFClabel-drop.webp") 1x,
url("img/NFClabel-drop.webp") 2x);background-image: image-set(url("img/NFClabel-drop.png") 1x,
url("img/NFClabel-drop.png") 2x,url("img/NFClabel-drop.webp") 1x,
url("img/NFClabel-drop.webp") 2x);
}
.bg-Misc-cover{
	background-image:url("img/Misc-cover.jpg");
	background-image: -webkit-image-set(url("img/Misc-cover.webp") 1x,
url("img/Misc-cover.webp") 2x);background-image: image-set(url("img/Misc-cover.jpg") 1x,
url("img/Misc-cover.jpg") 2x,url("img/Misc-cover.webp") 1x,
url("img/Misc-cover.webp") 2x);
}

/* = Custom Bric Data
-------------------------------------------------------------- */

.page-scroll-progress-bar{
		top:0;
		left:0;
		right:0;
		width:0;
		position: fixed;
		z-index: 999999;
}
.page-scroll-progress-bar.bottom-edge{
	top: initial;
	bottom: 0;
}
.img-hover-tilt-container{
	position:relative;
	transform-style: preserve-3d;
}
.hover-tilt-label{
	position:absolute;
	top: 50%;
	transform: translateY(-50%) translateZ(20px);
	width:100%;
	 text-align:center;
	font-size:40px;
}
.hover-tilt-light-text{
	color:rgba(255,255,255,.8);
}

/* = Additional CSS
-------------------------------------------------------------- */
<!---------------------------homepage------------------------------->
.navbar{
	transition:transform 0.3s ease;
}

.navbar.hidden{
	transform:translateY(-100%);
}
.background-launched {
	background-size:42% auto;
	background-position:left 28% bottom -240%;
	background-repeat:no-repeat;
}
.background-personal {
	background-size:48% auto;
	background-position:left -10% bottom -32%;
	background-repeat:no-repeat;
}
.background-misc {
	background-size:88% auto;
	background-position:left -100% top -44%;
	background-repeat:no-repeat;
}

.project-card {
	  position:relative;
	  width:100%;
	  height:100%;
	  overflow:hidden;
}
.project-card img {
	  width:100%;
	  height:100%;
	  object-fit:cover;
	  transition:transform 0.3s ease;
}
.project-card:hover img {
	  transform:scale(1.1) translateX(-5%);
}
.card-content {
	  position:absolute;
	  top:0;
	  left:100%;
	  width:80%;
	  height:100%;
	  transition:transform 0.3s ease;
}
.project-card:hover .card-content {
	  transform:translateX(-100%);
}

.link-to-projects  
{  
    position:absolute;  
    top:0;  
    left: 0;  
    width:100%;  
    height:100%;  
    z-index: 1;  
    background-color:#ffffff;   
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";  
    filter: alpha(opacity=0);  
    opacity:0;  
}



<!-----------------------------About page------------------------------>
.about-collage{
	position:center center;
}
.cv-thumbnail{
	width:90%;
	transition:0.3s ease;
}
.cv-thumbnail:hover{
	  transform:translateY(-10%);
}
.cat{
	object-fit:cover;
}
.identity-tag{
	border-width:1px;
	border-style:solid;
}
.profile-contact {
	background-size:auto 85%;
	background-position:right 5% center;
	background-repeat:no-repeat;
}





/* = Bloc Padding Multi Breakpoint
-------------------------------------------------------------- */

@media (min-width: 576px) {
    .bloc-xxl-sm{padding:200px 20px;}
    .bloc-xl-sm{padding:150px 20px;}
    .bloc-lg-sm{padding:100px 20px;}
    .bloc-md-sm{padding:50px 20px;}
    .bloc-sm-sm{padding:20px;}
    .bloc-no-padding-sm{padding:0 20px;}
}
@media (min-width: 768px) {
    .bloc-xxl-md{padding:200px 20px;}
    .bloc-xl-md{padding:150px 20px;}
    .bloc-lg-md{padding:100px 20px;}
    .bloc-md-md{padding:50px 20px;}
    .bloc-sm-md{padding:20px 20px;}
    .bloc-no-padding-md{padding:0 20px;}
}
@media (min-width: 992px) {
    .bloc-xxl-lg{padding:200px 20px;}
    .bloc-xl-lg{padding:150px 20px;}
    .bloc-lg-lg{padding:100px 20px;}
    .bloc-md-lg{padding:50px 20px;}
    .bloc-sm-lg{padding:20px;}
    .bloc-no-padding-lg{padding:0 20px;}
}


/* = Mobile adjustments 
-------------------------------------------------------------- */
@media (max-width: 1024px)
{
    .bloc.full-width-bloc, .bloc-tile-2.full-width-bloc .container, .bloc-tile-3.full-width-bloc .container, .bloc-tile-4.full-width-bloc .container{
        padding-left: 0; 
        padding-right: 0;  
    }
}
@media (max-width: 991px)
{
    .container{width:100%;}
    .bloc{padding-left: constant(safe-area-inset-left);padding-right: constant(safe-area-inset-right);} /* iPhone X Notch Support*/
    .bloc-group, .bloc-group .bloc{display:block;width:100%;}
}
@media (max-width: 767px)
{
    .bloc-tile-2 .container, .bloc-tile-3 .container, .bloc-tile-4 .container{
        padding-left:0;padding-right:0;
    }
    .btn-dwn{
       display:none; 
    }
    .voffset{
        margin-top:5px;
    }
    .voffset-md{
        margin-top:20px;
    }
    .voffset-lg{
        margin-top:30px;
    }
    form{
        padding:5px;
    }
    .close-lightbox{
        display:inline-block;
    }
    .blocsapp-device-iphone5{
	   background-size: 216px 425px;
	   padding-top:60px;
	   width:216px;
	   height:425px;
    }
    .blocsapp-device-iphone5 img{
	   width: 180px;
	   height: 320px;
    }
}

@media (max-width: 991px){
	.about-name{
		text-align:center;
		text-decoration:none;
		font-size:400%;
	}
	.div-works{
	}
	.about-second-column{
		min-width:90vw;
		height:90vh;
	}
	.about-first-column{
		min-width:90vw;
		height:90vh;
	}
	.navbar{
		background-color:rgba(255,255,255,0.75);
	}
	.soundhub-flow-img{
	}
	.text-gradient-blue{
		font-size:48px;
	}
	.text-gradient-orange{
		font-size:48px;
	}
	.title-big{
		font-size:40px;
	}
	.text-in-card-short{
		width:100%;
	}
	.text-gradient-green{
		font-size:48px;
	}
	.text-gradient-purple{
		font-size:48px;
	}
	.works-card-title{
		font-size:16px;
	}
	.works-card-text{
		font-size:12px;
	}
	.header-categorytitle{
		font-size:3rem;
	}
	.card-content{
		padding:6% 6% 6% 16%;
	}
	
}

@media (max-width: 767px){
	.div-works{
		min-height:12vh;
		width:100%;
	}
	.header-categorytitle{
	}
	.work-categories{
		flex-direction:row;
	}
	.about-first-column{
		min-width:90vw;
		height:90vh;
	}
	.about-second-column{
		min-width:90vw;
		height:90vh;
	}
	.about-name{
		line-height:autopx;
	}
	.about-widget-header{
		font-size:160%;
	}
	.p-style{
		line-height:160%;
		font-size:90%;
	}
	.identity-tag{
		font-size:80%;
		padding:2px 8px 2px 8px;
	}
	.identity-text{
		line-height:1rem;
		font-size:80%;
	}
	.soundhub-flow-img{
	}
	.soundhub-logo-design-img{
		width:128px;
	}
	.text-gradient-orange{
		font-size:48px;
	}
	.title-big{
		font-size:40px;
	}
	.text-in-card-short{
		width:100%;
	}
	.text-gradient-green{
		font-size:48px;
	}
	.text-gradient-purple{
		font-size:48px;
	}
	.misc-grid-illos{
		grid-template-columns:1fr 1fr 1fr;
	}
	.classroom-grid{
		grid-template-columns:1fr 1fr 1fr;
	}
	.misc-grid-emptystates{
		grid-template-columns:1fr 1fr;
	}
	.works-card-title{
		font-size:16px;
	}
	.works-card-text{
		font-size:12px;
	}
	.div-title{
		width:100%;
	}
	.card-content{
		padding:4% 4% 4% 12%;
	}
	
}

@media (max-width: 575px){
	.div-works{
	}
	.header-categorytitle{
		font-size:3rem;
	}
	.about-second-column{
		min-width:100vw;
		height:85vh;
	}
	.about-first-column{
		min-width:100vw;
		height:85vh;
	}
	.about-name{
		font-size:200%;
	}
	.about-widget-header{
		font-size:100%;
	}
	.profile-intro{
	}
	.p-style{
		font-size:80%;
		line-height:140%;
	}
	.identity-text{
		line-height:1rem;
		margin-bottom:2px;
	}
	.identity-tag{
		padding-left:4px;
		padding-right:4px;
		font-size:80%;
		margin-bottom:0px;
	}
	.title-big{
		font-size:32px;
	}
	.soundhub-color-design-img{
		height:72px;
	}
	.soundhub-logo-design-img{
		width:96px;
	}
	.soundhub-flow-img{
	}
	.text-gradient-blue{
		font-size:48px;
	}
	.text-gradient-orange{
		font-size:48px;
	}
	.header-project{
		font-size:3rem;
	}
	.classroom-grid{
		column-gap:16px;
		row-gap:16px;
		grid-template-columns:1fr 1fr;
	}
	.img-smaller{
	}
	.text-in-card-short{
		width:100%;
	}
	.text-gradient-green{
		font-size:48px;
	}
	.text-gradient-purple{
		font-size:48px;
	}
	.misc-grid-illos{
		grid-template-columns:1fr 1fr 1fr;
	}
	.misc-grid-realos{
		grid-template-columns:1fr;
	}
	.misc-grid-ford{
		grid-template-columns:1fr;
	}
	.card-content{
		padding:2% 2% 2% 2%;
	}
	.profile-card{
	}
	.profile-contact{
	}
	
}

